.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.buttons-align {
  margin-left: 20px;
  margin-top: 10px;
}

.btn {
  margin-right: 10px;
}

.btn-small,
.btn-small:active,
.btn-small.active {
  font-size: 10px;
  color: rgb(102, 102, 102);
  background: rgb(255, 255, 255);
  border: solid rgb(141, 141, 141) 0.5px;
  min-width: 40px;
  padding: 5px;
}

.btn-small:hover {
  color: rgb(63, 63, 63);
  background: rgb(139, 139, 139);
  border: none;
}

.btn-main,
.btn-main:active,
.btn-main.active {
  font-size: 12px;
  color: #ffffff;
  background: #525252;
  min-width: 50px;
  min-height: 40px;
  padding: 10px;
}

.btn-main:hover {
  color: #ffffff;
  background: #131313;
}

/*  medium-sized devices */
@media all and (min-width: 501px) and (max-width: 800px) {
  .container {
    text-align: center;
    margin: 10px;
  }
  .btn {
    margin-right: 10px;
    display: inline-block;
  }
  .btn-small,
  .btn-small:active,
  .btn-small.active {
    font-size: 8px;
    min-width: 30px;
    padding: 5px;
  }
  .btn-main,
  .btn-main:active,
  .btn-main.active {
    font-size: 9px;
    min-width: 40px;
    padding: 6px;
  }
}

/*  small devices */
@media all and (min-width: 401px) and (max-width: 500px) {
  .container {
    text-align: center;
  }
  .btn {
    margin-right: 2px;
    display: inline-block;
  }
  .btn-small,
  .btn-small:active,
  .btn-small.active {
    font-size: 5px;
    min-width: 30px;
    padding: 5px;
  }
  .btn-main,
  .btn-main:active,
  .btn-main.active {
    font-size: 8px;
    min-width: 40px;
    padding: 5px;
  }
}

/*  extra small devices */
@media all and (min-width: 297px) and (max-width: 400px) {
  .container {
    text-align: center;
  }
  .btn {
    margin-right: 1px;
    display: inline-block;
  }
  .btn-small,
  .btn-small:active,
  .btn-small.active {
    font-size: 10px;
    min-width: 45px;
    padding: 6px;
  }
  .btn-main,
  .btn-main:active,
  .btn-main.active {
    font-size: 14px;
    min-width: 90px;
    padding: 9px;
  }
}

/*  extra super small devices */
@media all and (max-width: 296px) {
  .container {
    text-align: center;
  }
  .btn {
    margin-right: 0.5px;
    display: inline-block;
  }
  .btn-small,
  .btn-small:active,
  .btn-small.active {
    font-size: 8px;
    min-width: 40px;
    padding: 6px;
  }
  .btn-main,
  .btn-main:active,
  .btn-main.active {
    font-size: 9px;
    min-width: 70px;
    padding: 6px;
  }
}
